//colors
$prim-color: #40af8e;
$prim-light: #a9e0d0;
$sec-color: #fa8072;
$sec-light: #ffba7a;
$tert-color: #3c506b;
$tert-dark: #313a46;
$bg-color: #3a534c;

@import url("https://fonts.googleapis.com/css2?family=Alef&family=Luckiest+Guy&family=Rock+Salt&family=RocknRoll+One&display=swap");
$prim-font: "Rock Salt", cursive;
$sec-font: "RocknRoll One", sans-serif;
$big-font: "Luckiest Guy", cursive;

//madlibs vars
$green: #00c086;
$ltgreen: #c4f0e3;
$violet: #a000da;
$purple: #522464;
$orange: #cc6d00;
$gold: #ffb765;
$brown: #291906;
$pink: #d41062;

$data-font: "Inconsolata";
$story-font: "Shadows Into Light Two";
$title-font: "Fontdiner Swanky";
