$green: #00c086;
$ltgreen: #c4f0e3;
$violet: #bf96ce;
$purple: #522464;
$orange: #cc6d00;
$gold: #ffb765;
$brown: #291906;
$pink: #d41062;

$data-font: "Inconsolata";
$story-font: "Shadows Into Light Two";
$title-font: "Fontdiner Swanky";
