//colors
$prim-color: #40af8e;
$prim-light: #42ffc6;
$sec-color: #fa8072;
$sec-light: #ffba7a;
$tert-color: #3c506b;
$tert-dark: #313a46;
$bg-color: #3a534c;

@import url("https://fonts.googleapis.com/css2?family=Alef&family=Luckiest+Guy&family=Rock+Salt&family=RocknRoll+One&display=swap");
$prim-font: "Rock Salt", cursive;
$sec-font: "RocknRoll One", sans-serif;
$big-font: "Luckiest Guy", cursive;
